.Evidence_Primary {
    background-color: #E5E5E5;
    height: 345px;
    width: 1150px;
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
    justify-content: center;
    top: 0;
}

.Evidence_Slave {
    background-color: red;
    height: 190px;
    margin-top: 30px;
}

.Evidence_Slave h5{
    font-family: Gotham Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #7E7E7E;
}

.Evidence_Slave h2 {
    font-family: Gotham Pro, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.Post_Evidence_Slave {
    grid-column: 1/5;
    margin-top: 50px;
    text-align: center;
    font-family: adineue PRO Cyr, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
}
