.evidence-slave {
  background-color: white;
  height: 180px;
  margin-top: 30px;
  padding: 5px;

  h2, h5 {
    font: {
      family: Gotham Pro, serif;
      style: normal;
    }
    text-align: center;
    letter-spacing: 0.05em;
  }

  h2 {
    font: {
      weight: bold;
      size: 36px;
    }
    position: relative;
    line-height: 34px;
    color: #000000;
    margin:auto;
    padding-top: 65px;
  }

  h5 {
    font: {
      weight: normal;
      size: 18px;
    }
    margin-top: 95px;
    line-height: 17px;
    color: #7E7E7E;
  }
}


