$bg-color: #fff; //container background-color;
$basic-dark-color: #B2B2B2; //color of the spinner
$border-width: 4px; //width of spinners border
$basic-spinner-dimensions: 115px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 1; //width and height of smaller circle

.spinner {
  position: relative;
  width: $basic-spinner-dimensions;
  height: $basic-spinner-dimensions;
  margin: 10px auto;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 12px;
    border-style: solid;
    border-radius: 90px;
  }
}

.spinner.spinners {
  @keyframes anti-rotate-animation {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: rgba(#E3E3E3, 1);
  }
}

.spinner.spinners.spinner-1 {

  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color:rgba($basic-dark-color, 1);
    border-right-color: rgba($basic-dark-color, 1);
    border-top-color: rgba($basic-dark-color, 1);
    border-left-color: rgba($basic-dark-color, 0);
    animation: anti-rotate-animation 5s linear 3s infinite;
  }
}

.spinner.spinners.spinner-2 {

  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color:rgba($basic-dark-color, 1);
    border-right-color: rgba($basic-dark-color, 1);
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    animation: anti-rotate-animation 5s linear 3s infinite;
  }
}

.spinner.spinners.spinner-3 {

  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color:rgba($basic-dark-color, 0);
    border-right-color: rgba($basic-dark-color, 1);
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    animation: anti-rotate-animation 5s linear 3s infinite;
  }
}

.spinner.spinners.spinner-4 {

  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color:rgba($basic-dark-color, 0);
    border-right-color: rgba($basic-dark-color, 1);
    border-top-color: rgba($basic-dark-color, 1);
    border-left-color: rgba($basic-dark-color, 0);
    animation: anti-rotate-animation 5s linear 3s infinite;
  }
}